/* Общие стили */
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: cornsilk;
    padding-top: 70px;
}

/* Навигация */
.navbar {
    background-color: #28a745;
}

.navbar-brand {
    font-weight: bold;
    color: #a27d7a !important;
}

/* Логотип */
.logo {
    width: 50px !important; /* Ограничение ширины логотипа */
    height: auto !important;
    margin: 0; /* Убираем центровку */
}

/* Карточки товаров */
.card {
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 200px;
    object-fit: cover;
}

/* Кнопки */
.btn-primary {
    background-color: #28a745;
    border: none;
}

.btn-primary:hover {
    background-color: #218838;
}

/* Футер */
.footer {
    text-align: center;
    padding: 10px;
    background: #ffe7dc !important;
    color: #f8dcff !important;
    position: fixed;
    width: 100%;
    bottom: 0;
}
