{% extends 'base.html' %}
{% block title %}История заказов{% endblock %}

{% block content %}
<h2>Мои заказы</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Товары</th>
            <th>Цена</th>
            <th>Адрес доставки</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
                {% for product in order.products.all %}
                    <p>{{ product.name }}</p>
                {% endfor %}
            </td>
            <td>
                {% for product in order.products.all %}
                    <p>{{ product.price }}</p>
                {% endfor %}
            </td>
            <td>{{ order.delivery_address }}</td> <!-- Добавляем вывод адреса доставки -->
                    <!-- 🔄 Кнопка повторного заказа -->
            <td>
            <a href="{% url 'repeat_order' order.id %}" class="btn btn-sm btn-primary">🔄 Повторить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
